<div class="container">
  <div class="title-wrapper">
    <div class="title">Solve code problems. <span class="title-trail">Get paid</span></div>
  </div>
  <div class="subtext-wrapper">
    <div class="sub-text">Cacheout is a platform where developers can be rewarded by helping others solve their code problems</div>
  </div>
  <div class="input-wrapper">
    <form>
      <label>*email
        <input>
      </label>
      <div class="button-wrapper">
        <button>Join waitlist</button>
      </div>
    </form>
  </div>
  <div class="img-wrapper">
    <div class="img-sizer">
      <img src="/assets/images/home-screenshot.jpg">
    </div>
  </div>
</div>
<section class="section-padding"></section>
<div class="container-secondary">
  <div class="wrapper">
    <div class="coming-soon">COMING MID 2018</div>
  </div>
</div>
