<footer>
  <div class="footer-icon-wrapper">
    <img src="assets/images/devslopes-logo.svg">
    <span class="powered-by">Powered by Devslopes.com</span>
  </div>
  <div class="footer-text-wrapper">
    <div class="copyright">Devslopes LLC | All Rights Reserved</div>
    <div class="links">
      <a href="https://www.iubenda.com/privacy-policy/7923657">PRIVACY POLICY |</a>
      <a href="https://www.devslopes.com/terms">TERMS OF USE |</a>
      <a href="mailto:info@devslopes.com" target="_top">CONTACT</a>
    </div>
  </div>
</footer>
