footer {
  font-family: 'Nunito', sans-serif;
  background-color: #F1F3FA;
  display: flex;
  flex-direction: row;
  padding: 1rem 10rem;
  justify-content: space-between;
  .footer-icon-wrapper {
    display: flex;
    img {
      align-self: center;
    }
    .powered-by {
      font-size: 12px;
      font-weight: 600;
      padding-left: .5rem;
      align-self: center;
    }
  }
  .footer-text-wrapper {
    text-align: right;
    .copyright {
      font-size: 12px;
      color: #98A3BE;
      font-weight: 600;
    }
    .links {
      a {
        font-size: 12px;
        font-weight: bold;
        color: #4A90E2;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
